/*-----Trip to Paris Card-----*/


.main-container-1 {
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin: auto;
    font-family: "adobe-clean", sans-serif;
    align-items: center;
  }
.heading-one{
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    align-items: center;
    text-align: center;
    align-self: center;
    font-weight: bolder;
    font-size: 3.2rem;
}
.heading-two{
    font-family: sans-serif;
}
.heading-three{
    margin: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 3.2rem;
    font-family: sans-serif;
}
.heading-three::before,
.heading-three::after {
    content: '';
    flex: 2;
    border-bottom: 3px solid grey;
    margin: 0.5rem;
}
.heading-four{
    text-align: center;
}
.side-arrow-icon{
    color: #e25822 ;
    font-size: 2.8rem;
    text-align: center;
    align-items: center;
}
.back-botton{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 700;
    color: gray;
    font-size: 2rem;
}
.todo-card-1{
    width: 15rem;
    height: 20rem;
    margin-top: 1.25rem;
    border: 1px solid gray;
    border-radius: 0.4375rem;
    box-shadow: 0.125rem 0.25rem 0.375rem rgb(197, 195, 195);
    color: #e25822;
    border-color: #e25822;
    position: relative;
    align-items: center;
    

}
.trip-card-1{
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #e25822;
    font-weight: bold ;
    margin-left: 25%;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    text-align: justify;
    font-weight: 600;
  }
.hr-margin{
    margin-left:  25%;
    color: black;
    margin-bottom: 0rem;
    font-weight: bolder ;
}
.checkbox-popup{
    margin-top: 1rem;
    color: black;
    font-weight: bold ;
}
.pending-popup-1{
    margin-top: 0.625rem;
    font-weight: bold ;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold ;
    margin-left: 0rem;
    text-align: left;
}
.complete-popup-1{
    font-family: 'Roboto', sans-serif;
    color: #e25822;
    font-weight: bold ;
    margin-top: 2rem;
    margin-left: 25%;
    text-align: justify;
    text-decoration-line: line-through;
    text-decoration-thickness: 0.25rem ;
}
.card-icon{
    position: absolute;
    font-size: 2rem;
    right: 1rem;
    bottom: 1rem;
}

/*------Blurr effect ------*/


.main-container-3{
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin: auto;
    font-family: "adobe-clean", sans-serif;
    filter: blur(0.4em);
}

/*-----Add new Todo Popup-----*/


  .addnewlist-container{
        top: 10rem;
        left: 40%;
        right: 40%;
        position: absolute;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-content: center;
        color: #e25822;
  }
    .addnewlist-box{
        width: 18.75rem;
        height: 12.5rem;
        font-size: 1.5625rem;
        border: 0.0625rem solid #e25822;
        border-radius: 0.625rem;
        background-color: white;
        box-shadow: 0.125rem 0.25rem 0.375rem rgb(197, 195, 195);
    }
    .title-addlist{
        color: #e25822;
        font-size: 1.5625rem;
        margin-top: 1.8rem;
        margin-bottom: 0.6rem;
    }
    .name-container{
        margin-top: 0.8rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .name{
        padding: 0.3125rem;
        border-radius: 0.2875rem;
        font-size: 1rem;
        border: 0.0625rem solid #e25822;
        min-width: 75%;
        box-shadow: 0.125rem 0.25rem 0.375rem rgb(197, 195, 195);
      }
      .add-button-style{
        display: inline-block;
        cursor: pointer;
        border: 0;
        padding: 0.3rem 0.4rem;
        height: 2.3rem;
        width: 4.4rem;
        border-radius: 0.925rem;
        color: white;
        background-color: #e25822;
        font-size: 1.2rem;
        margin-bottom: 0.9rem;

    
}
@media only screen and (min-width :100px) and (max-width : 480px){
    html{
        font-size: 65%;
    }
    .heading-three,.heading-four{
        display: none;
    }
    .addnewlist-box{
        width: 14.75rem;
        height: 9.5rem;
    }
    .title-addlist{
        font-size: 1rem;
    }
    .name-container{
        margin-bottom: 0.8rem;
    }
    .name{
        font-size: 0.7rem;
    }
    .add-button-style{
        font-size: 0.8rem;
        height: 1.6rem;
        width: 3.8rem;
    }
  }
  @media only screen and (min-width :481px) and (max-width : 769px){
    
    html{
        font-size: 80%;
    }
    .addnewlist-box{
        width: 16.75rem;
        height: 10.5rem;
    }
     .title-addlist{
         font-size: 1.2rem;
     } 
     .name-container{
        margin-bottom: 1.1rem;
    }  
     .name{
        font-size: 0.8rem;
    }
    .add-button-style{
        font-size: 0.9rem;
        height: 1.7rem;
        width: 4.0rem;
    }
    
}
@media only screen and (min-width :480px){
    .heading-one,.heading-two{
        display: none;
    }
}